body {
  /* background: #3B3B98; */
  background-image: url(./assets/starfall_background.png);
  background-size: 10% auto;
  background-repeat: repeat;
}

canvas {
  margin: auto;
  display: block;
  border: 4px solid #1B9CFC;
}

div {
  display: inline;
  font-family: 'VT323', monospace;
}

.progress-div {
  position: relative;
  left: 25%;
  bottom: 1.7em;
  font-size: 24px;
  color: #F8EFBA;
}

.score-div {
  position: relative;
  left: 28%;
  bottom: 1.1em;
  font-size: 36px;
  color: #F8EFBA;
}