body {
  /* background: #3B3B98; */
  background-image: url(./assets/starfall_background.png);
  background-size: 10% auto;
  background-repeat: repeat;
}

canvas {
  margin: auto;
  display: block;
  border: 4px solid #1B9CFC;
}